<!DOCTYPE HTML>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Infruid labs | Home</title>
    <link rel="stylesheet" href="stylesheets/foundation.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>

    <div class="row">
      <div class="large-10 medium-10 large-centered small-centered columns">
        <h1> Infruid labs </h1>
        <hr class="customhr">

      <div class="row">
        <div class="large-6 medium-6 small-6 columns">
          <a href="/sensex_crawl">Click here to view data</a>
        </div>
      </div>
    </div>

    <script src="javascript/vendor/jquery.js"></script>
    <script src="javascript/foundation.min.js"></script>
    <script>
      $(document).foundation();

    </script>



  </body>
</html>
